.box-slider {
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
        justify-content: end;
        margin-top: 52px;
    }
    &__item {
        width: 407px;
        height: 144px;
        background-color: $white-color;
        display: flex;
        padding: 5px;
        text-decoration: none;
        transition: .3s all ease;
        border-radius: 4px;
        img {
        border-radius: 4px;
        }
        &:hover {
            scale: 1.05;
        }
    }
    &__title {
        font-size: 18px;
        color: $text-color;
    }
    &__sub {
        font-size: 12px;
        color: $accent-color;
    }
    &__txt {
        padding: 15px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
}