@import '../css/_fonts.css';
@import '../css/normalize.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

body {
    font-family: 'Yu Gothic', serif;
}

.container {
    width: 1110px;
    margin: 0 auto;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #668E68;
    padding: 15px 30px;
}

.logo {
    font-family: 'Noto Serif Georgian';
    font-weight: 400;
    font-size: 44px;
    color: white;
    text-decoration: none;
}

.nav__hamburger {
    display: none;
    position: relative;
}

header .nav__desktop{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
}

header .nav__desktop a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    height: 520px;
    background: url('../img/hero/background.png') center center/cover no-repeat;
}

.hero .container {
    display: flex;
    align-items: center;
}

.nav__popup {
    display: none;
    width: 500px;
    height: 500px;
    background: white;
    position: absolute;
    right: -600px;
    transition: 0.3s;
    /* right: -600px; */
}


h1 {
/*     padding: 170px 0; */
    margin: auto;
    font-family: 'Shadows Into Light' !important;
    font-weight: 400;
    font-size: 110px;
    line-height: 177px;
    text-align: center;
    color: white;
}

h2 {
    font-family: 'Shadows Into Light';
    font-size: 40px;
/*     line-height: 1.4em; */
    text-align: center;
    font-weight: 400;
}

.black {
    color: black;
}
.white {
    color: white;
}

.after::after {
    content: 'メニュー';
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Yu Gothic', serif;
}

.menu {
    padding: 60px 0;
}

.menu__item {
    width: 350px;
    height: 350px;
/*     background: url('../img/menu/drink-1.png') center center/cover no-repeat; */
    position: relative;
    cursor: pointer;
}

.menu__item h3 {
    position: absolute;
    bottom: 38px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
}

.menu__wrapper {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.button {
    margin: 40px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 160px;
    height: 40px;
    background-color: #668E68;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    padding: 7px 30px;
    text-align: center;
    font-size: 16px;
}

.button::after {
    content: '';
    display: block;
    height: 14px;
    width: 7px;
    background: url('../img/menu/chevron.svg') center center/cover no-repeat;
}

.about {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    padding: 142px 0;
    min-height: 600px;
    background: url('../img/about/background.png') center center/cover no-repeat;
}

.about h2::after {
    content: 'DesignCaféとは'; 
}

.about__wrapper {
    max-width: 367px;
    text-align: center;
    margin: 32px auto 0 auto;
    font-family: 'Yu Gothic';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}

.about__button {
    text-shadow: none;
}

.news {
    background: rgba(129, 97, 59, 0.2);
    padding: 60px 0;
}

.news__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    border: 1px solid #668E68;
    padding: 20px;
    margin-top: 40px;
}

.news__item {
    display: flex;
    gap: 20px;
}

.news__item .news__numbers {
    min-width: 100px;
}

footer {
    display: flex;
    justify-content: space-between;
    background: black;
    padding: 20px 50px 80px 50px;
    font-family: 'Yu Gothic';
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
}

footer .contacts{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.contacts .contacts__item {
    color: white;
    text-decoration: none;
    
}

footer .credits {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
}

