.collection {
    position: relative;
    padding: 120px 0 180px 0;
/*     Я бы за эти полоски дизайнеру руки оторвал бы */
    &:after {
        @include afterSection;
    }
    &:before {
        @include beforeSection;
    }
    &__wrapper {
        margin-top: 70px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 360px);
        grid-auto-flow: column;
        column-gap: 65px;
        overflow: scroll;
        overflow-y: hidden;
        padding-bottom: 20px;
        @include scrollBar;
    }
    &__item {
        width: 360px;
        height: 500px;
        position: relative;
        cursor: pointer;
        filter: brightness(0.8);
        transition: .3s all ease;
        &:hover {
            filter: brightness(1.05);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: static;
        }
        &-wrapper {
            position: absolute;
            bottom: 70px;
            color: $white-color;
            display: grid;
            grid-template-rows: repeat(2, auto);
            grid-template-columns: 100%;
            padding: 0 36px 0 20px;
            row-gap: 20px;
        }
    }
    &__name {
        color: $white-color;
        width: 94px;
    }
    &__more {
        display: block;
        margin-top: 35px;
        width: 115px;
        margin: 35px 0 0 auto;
    }
}