.blocks {
    width: 300px;
    padding: 25px;  
    margin: 15px auto 30px auto;
    border: 1px darkmagenta dashed;  
}

.blocks h3 {
    text-transform: uppercase;
    color: darkmagenta;
}

.blocks p {
    font-size: 16px;
    color: rgb(190, 0, 190);
}

.link {
    color: aqua;
}