.banner {
    background: $fondini-color;
    padding: 80px 0 100px 0;
    &__item {
        padding: 80px;
        width: 100%;
        background: $white-color;
        .author {
            text-align: left;
        }
        span {
            display: block;
            width: 124px;
            height: 132px;
            background: $white-color;
        }
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 238px;
    }
    .vicenza {
        grid-column: 2 / 3;
        padding: 40px 60px 50px 50px;
        background: $accent-color;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 60px;
        h2 {
            font-size: 40px;
            color: $white-color;
        }
        h3 {
            color: $white-color;
        }
    }
    .roma {
        padding: 40px 60px 50px 50px;
        background: $sea-color;
        display: flex;
        align-items: center;
        gap: 60px;
        h2 {
            font-size: 40px;
            color: $white-color;
        }
        h3 {
            color: $white-color;
        }
    }
    .article {
        grid-row: 1 / 3;
        h3 {
            margin-top: 25px;
        }
        p {
            margin-top: 25px;
        }
    }
    .button {
        width: 127px;
        text-align: center;
        color: $white-color;
        border: 1.5px solid $white-color;
        margin: 15px 0 0 0;
        &:hover {
            width: 100%;
        }
    }
}