@media (max-width: 1200px) {
    header {
        .header {
            &__profile {
                .header-nav__item {
                    display: none;
                }
                img {
                    display: none;
                }
            }
        }
        .divider {
            display: none;
        }
        nav {
            display: none;
            gap: 40px;
        }
        .hamburger {
            display: flex;
        }
    }
    .hero {
        h1 {
            margin-top: 160px;
        }
        .box-slider__item {
            width: auto;
            height: auto;
        }
    }
    .news {
        .big-item {
            height: auto;
            padding-bottom: 20px;
            .button {
                margin-top: 30px;
            }
            h3 {
                width: unset;
            }
        }
        .small-item {
            height: auto;
            img {
                min-block-size: auto;
            }
        }
        .row {
            &:nth-child(2) {
                align-items: center;
            }
        }
    }
    .banner {
        &__wrapper {
            grid-auto-rows: auto;
            .article {
                grid-column: 1 / 3;
                grid-row: 1 / 3;
            }
            .roma {
                padding: 35px;
                gap: 35px;
            }
            .vicenza {
                padding: 35px;
                gap: 35px;
            }
        }
        form {
            grid-template-columns: 1fr;
            .submit__wrapper {
                margin-left: 0;
            }
        }
    }
}

@media (max-width: 991px) {
    .link {
        width: 100px;
    }
    footer {
        form {
            grid-template-columns: 1fr;
            .submit__wrapper {
                margin-left: 0;
            }
        }
    }
}

@media (max-width: 767px) {
    .hero {
        h1 {
            margin-top: 60px;
        }
    }
    .mondi {
        padding: 40px 0;
        &__wrapper {
            padding: 20px;
        }
    }
    .tutorial {
        padding: 40px 0;
    }
    .sponsor {
        padding: 40px 0;
        &__wrapper {
            padding: 20px;
            .divider__title {
                &::after {
                    width: 96%;
                }
            }
            .chevron {
                display: none;
            }
        }
    }
    .banner {
        padding: 40px 0;
        &__wrapper {
            grid-template-columns: 1fr;
            .roma {
                grid-column: 1;
                grid-row: 3;
            }
            .vicenza {
                grid-column: 1;
                grid-row: 4;
            }
            .article {
                padding: 40px;
            }
        }
    }
    .message {
        &__wrapper {
            padding: 40px;
            form {
                margin-top: 25px;
            }
        }
    }
    footer {
        .empty {
            padding: 40px 15px;
        }
    }
}

@media (max-width: 575px) {
    header {
        padding: 0 10px;
        .logo {
            padding: 0;
            svg {
                width: 100px;
            }
        }
        .header {
            &__info {
                gap: 15px;
            }
        }

    }
    h2 {
        font-size: 40px;
        margin: 20px 0 0 0;
    }
    .hero {
        min-height: 300px;
        h1 {
            font-size: 40px;
            text-align: center;
        }
        &__txt {
            text-align: center;
        }
        .box-slider {
            &__wrapper {
                display: none;
            }
        }
    }
    .news {
        padding: 20px 0 40px 0;
        .small-item {
            .author {
                margin: 15px 0 0 0;
            }
        }
        .big-item {
            h3 {
                font-size: 30px;
            }
        }
    }
    .tutorial {
        padding: 40px 0;
    }
    .message {
        padding: 40px 0;
        &__wrapper {
            padding: 20px;
        }
    }
    footer {
        padding: 0 10px;
        .logo {
            display: flex;
            margin-top: 20px;
            justify-content: center;;
        }
        .footer {
            &__socials {
                justify-content: center;
                gap: 30px;
                margin: 30px;
            }
        }
    }
}