.news {
    padding: 40px 0 80px 0;
    background: $fondini-color;
    .small-item {
        &:last-child {
            margin-top: 18px;
        }
    }
    /* .small-item {
        &:last-child {
            margin-top: 18px;
        }
        margin-top: 25px;
        height: 315px;
        display: flex;
        gap: 15px;
        padding-right: 15px;
        .button {
            width: 100%;
            margin: 15px 0 0 0;
        }
        &__desc {
            margin: 25px 0 0 0;
        }
        h6 {
            font-size: 14px;
            text-align: left;
            margin: 15px 0 0 0;
        }
        h4 {
            font-size: 18px;
            margin: 15px 0 0 0;
        }
        img {
            width: 50%;
            height: 100%;
        }
        .author {
            font-size: 13px;
            text-align: left;
            margin: 60px 0 0 0;
        }
    } */
    /* &__item {
        margin-top: 25px;
        background: $white-color;
        padding: 5px;
        height: 647px;
        border-radius: 4px;
        img {
            width: 100%;
            border-radius: 4px;
        }
        &-title {
            font-family: 'Abhaya Libre';
            text-align: center;
            width: 690px;
            margin: 0 auto;
        }
        &-subtitle {
            text-align: center;
            margin-top: 30px;
        }
        &-button {
            text-align: center;
        }
    } */
}